<h1>科目一覧</h1>
<ul>
  <% @subjects.each do |subject| %>
    <li><%= link_to subject.name, subjects_show_path(subject.id) %>
  <% end %>
</ul>
<h1>科目新規登録</h1>
<%= form_for @newSubject, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
