<h1>Courses</h1>
<div>
  <div class="row">
    <div class="right">
      <input type="button" id="new-subject" class="waves-effect waves-light btn" value="追加する" />
    </div>
  </div>
  <div class="new-form" style="display: none">
  <%= form_for @newSubject, :url => {:action => 'create'} do |f| %>
    <label>科目名</label>
    <%= f.text_field :name %>
    <%= f.submit "追加", :class => "waves-effect waves-light btn" %>
  <% end %>
  </div>
</div>
<ul>
  <% @subjects.each do |subject| %>
    <div class="subject z-depth-3">
      <div class="subject-content">
        <%= link_to subject.name, subjects_show_path(subject.id), data: {"turbolinks" => false} %>
      </div>
    </div>
  <% end %>
</ul>
