/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import "materialize/components/color-variables";
$primary-color: color("grey", "darken-4") !default;
$secondary-color: color("light-blue", "lighten-2") !default;
@import 'materialize';

body {
  background-image: image-url("Portrait.jpg");
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding-bottom: 20px;
}

.page-footer {
  background-color: #424242;
  padding: 20px;
}

a {
  color: #000000;
}

label {
  font-size: 1rem;
  color: #000000;
}

.new_subject {
  padding: 50px;
}

.new_post {
  padding: 50px;
}

.inline {
  display: inline-block;
  _display: inline;
  margin-right: 100px;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}

.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
