// Place all the styles related to the subjects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subject {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.subject-content {
  padding: 20px;
}